{% extends "base.html" %}

{% block title %}
    {{ 'איכות קוד דירוג' if session['language'] == 'he' else 'Rate Code Quality' }}
{% endblock %}

{% block content %}
<style>
    .content-wrapper {
        display: flex;
        gap: 20px;
    }

    .code-editor-container, .result-container {
        flex: 1;
        height: 500px;
        padding: 20px;
        background-color: #f8f9fa;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow-y: auto;
    }

    .code-editor {
        background-color: #2d2d2d;
        border-radius: 4px;
        padding: 10px;
    }

    .code-input {
        font-family: 'Courier New', Courier, monospace;
        color: #c5c8c6;
        background-color: transparent;
        border: none;
        outline: none;
        resize: none;
        width: 100%;
        height: 100%;
    }

    .code-input:focus {
        color: #c5c8c6;
        background-color: transparent;
        outline: none;
    }

    .badge-success {
        background-color: #5cb85c;
    }

    .bg-dark {
        background-color: #343a40 !important;
    }

    .text-white-code {
        color: #f8f9fa !important;
    }

    .rounded {
        border-radius: 4px;
    }
</style>

<div class="content-wrapper">
    <div class="code-editor-container">
        <form method="POST">
            <div class="mb-3">
                <div class="code-editor">
                    <textarea class="form-control code-input" id="code_input" name="code_input" rows="10" required></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-secondary btn-lg btn-block">
                {{ 'דירוג קוד' if session['language'] == 'he' else 'Rate Code' }}
            </button>
        </form>
    </div>
            <!--BSPMS2429-162 -->

    <div class="result-container">
        {% if score is defined %}
        <h2>
            {{ 'דירוג איכות הקוד שלך:' if session['language'] == 'he' else 'Your Code Quality Rating:' }}
            <span class="badge badge-success">{{ score }}</span>
        </h2>
        <pre class="bg-dark text-white-code p-3 rounded">{{ feedback }}</pre>
        {% endif %}

        {% if updated_code is defined %}
        <h3>{{ 'הקוד המעודכן:' if session['language'] == 'he' else 'Updated Code:' }}</h3>
        <pre class="bg-dark text-white-code p-3 rounded">{{ updated_code }}</pre>
        {% endif %}

        {% if user_average is not none %}
        <h2 class="mt-4">
            {{ 'דירוג איכות הקוד הממוצע שלך:' if session['language'] == 'he' else 'Your Average Code Quality Rating:' }}
            <span class="badge badge-success">{{ user_average }}</span>
        </h2>
        {% endif %}
    </div>
</div>
{% endblock %}
